body {
    background-color: lightsteelblue;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

nav {
    right: 0;
}

footer {
    margin-top: 3rem;
    bottom: 0;
    left: 0;
}

/* Cards on index.html */

.card {
    /*width: 18rem;*/
    margin-top: 2rem;
}

/* Bookings list */

li {
    list-style-type: none;
}

/* Media query for phones of up to 370px screen width */

.home-main-heading {
    font-size: 2rem;
}

