{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pop-Up Restaurant</title>
</head>

<body>
    <!--Navigation bar at top of page: Add fixed top class-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="">
            <a href="{% url 'home' %}" class="navbar-brand">Home</a>
            <button type="button" data-toggle="collapse" data-target="#navDropDown" class="navbar-toggler ml-auto"
                aria-controls="navDropDown" aria-expanded="false" aria-label="toggle navigation">Button</button>
        </div>
        <div class="collapse navbar-collapse" id="navDropDown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'bookings' %}">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'make_booking' %}">Book a Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item list-inline-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer class="footer page-footer footer-light-secondary">
        <div class="container-fluid text-center">
            <p>Contact us at 089 123 4567 or popuprestaurant@gmail.com</p>
        </div>
    </footer>
</body>

</html>