{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pop-Up Restaurant</title>
</head>

<body>
    <!--Navigation bar at top of page-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="">
            <a href="{% url 'home' %}" class="navbar-brand"><i class="fa-solid fa-utensils"></i></a>
            <button type="button" data-toggle="collapse" data-target="#navDropDown" class="navbar-toggler ml-auto"
                aria-controls="navDropDown" aria-expanded="false" aria-label="toggle navigation"><i
                    class="fa-solid fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse" id="navDropDown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'bookings' %}">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'make_booking' %}">Book a Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item list-inline-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    <!--Footer for each page-->
    <footer class="footer page-footer footer-light-secondary">
        <div class="container-fluid text-center">
            <p>Contact us at 089 123 4567 or popuprestaurant@gmail.com</p>
        </div>
    </footer>

    <!--Bootstrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

    <!--Font Awesome script-->
    <script src="https://kit.fontawesome.com/6189b95449.js" crossorigin="anonymous"></script>
</body>

</html>