{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pop-Up Restaurant</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account_login' %}">Log-in</a></li>
            <li><a href="{% url 'account_logout' %}">Log-out</a></li>
            <li><a href="{% url 'my_bookings' %}">My Bookings</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>Contact us at 098 123 4567.</p>
    </footer>
</body>

</html>