{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mx-auto">
        <div class="col-sm-8 mx-auto">

            <!--Main heading-->
            <div id="main-heading">
                <h1 class="display-1">Pop-Up Restaurant</h1>
                <p class="lead">Local, seasonal dishes cooked by well-known chefs in beautiful locations</p>
            </div>

            <!--Section containing event cards-->
            <section>
                <h2>Events</h2>

                <div class="row">
                    <div class="col-12">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Green Square Gardens, August 20th 6-8pm</h5>
                                <p class="card-text">
                                    Back by popular demand. Join Chef Anthony for a very special seafood menu by the
                                    sea.
                                    €30
                                    per
                                    person. Places limited. Book early to avoid disappointment.
                                </p>
                                {% if user.is_authenticated %}
                                <div>
                                    <a href="{% url 'make_booking' %}">Book Now</a>
                                </div>
                                {% else %}
                                <p>Log in to book a table</p>
                                <div>
                                    <a href="{% url 'account_login' %}">Log In</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Summer Wine Tasting, August 1st, 6-8pm</h5>
                                <p class="card-text">
                                    Back by popular demand. 
                                    €30
                                    per
                                    person. Places limited. Book early to avoid disappointment.
                                </p>
                                {% if user.is_authenticated %}
                                <div>
                                    <a href="{% url 'make_booking' %}">Book Now</a>
                                </div>
                                {% else %}
                                <p>Log in to book a table</p>
                                <div>
                                    <a href="{% url 'account_login' %}">Log In</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}