{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">

    <h1>Book a Table</h1>

    <!--The section below contains the booking form-->
    <section>
        <h2>Please enter your details below.</h2>
        <form method="POST">
            <p>This booking form is for the Green Square Gardens event.</p>
            <p>Please enter the number of guests. Note that a maximum of four
                guests is allowed per booking.
            </p>
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">Book</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}