{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages alert alert-success">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid text-center">

    <!--Main heading-->
    <div>
        <h1>My Bookings</h1>
    </div>

    <!--Section containing booking list-->
    <section>
        <h2>Booking List</h2>
        <ul>
            {% for booking in booking_list %}
            <li>Event: {{ booking.event }}</li>
            <li>Event Date & Time: {{ booking.event.event_date }}</li>
            <li>Booked on: {{ booking.booked_on }}</li>
            <li>Booked by: {{ booking.guest }}</li>
            <li>Number of guests: {{ booking.num_of_guests }}</li>
            <li>
                <a href="{% url 'edit_booking' booking.id %}">Edit</a>
                <a href="{% url 'cancel_booking' booking.id %}">Cancel</a>
            </li>
            <br>
            {% empty %}
            <li>You do not have any bookings.</li>
            {% endfor %}
        </ul>
    </section>

</div>
{% endblock %}